* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background-color: #202020;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-size: 16px;
}

.main {
  width: 100%;
  height: 100dvh;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  text-align: center;
}

.showArea {
  background-color: #202020;
  flex: 6; /* 60% */
  min-height: 0; /* importante no flex */
  padding: 10px;
  margin: 0 auto;
  overflow-y: auto;
  scrollbar-width: none;
  width: 100%;
}

.showArea::-webkit-scrollbar {
  display: none;
}

.showArea h1 {
  color: whitesmoke;
}

.menu {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  width: 80%;
  margin: 0 auto;
  max-width: 500px;
}

.menu button {
  padding: 5px 15px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  color: whitesmoke;
  border: 1px solid #ccc;
}

.inputArea {
  flex: 4; /* 40% */
  min-height: 0; /* importante */
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #101010;
  justify-content: center;
  overflow: hidden;
  padding: 10px 0;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  max-width: 500px;
}

.inputContainer input,
select {
  color: white;
}

/* Dashboard view */

.progressArea {
  width: 80%;
  height: 20px;
  background: #f1f5f9;
  border-radius: 50px;
  overflow: hidden;
  margin: 15px;
}

.progressBar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  background: linear-gradient(90deg, #025922, #04984c);
  border-radius: 999px;
  transition: width 2s ease;
}

.categoryCard {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  background-color: whitesmoke;
  color: black;
  margin: 10px;
  padding: 5px;
}

/* LIST VIEW */

.expenseContainer {
  max-width: 500px;
  margin: auto;
}

.expenseCard {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  border-radius: 5px;
  background-color: whitesmoke;
  margin-bottom: 10px;
  padding: 10px;
}

.mainInfo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  width: 100%;
}

.categoryLabel {
  color: white;
  padding: 5px;
  border-radius: 10px;
}

.dateLabel {
  color: #ccc;
}

.inputArea p {
  margin-bottom: 10px;
  color: whitesmoke;
}

input,
select {
  margin: 5px;
  padding: 10px;
  border: none;
  font-size: 16px;
  appearance: none;
  border-radius: 5px;
  background-color: #101010;
  border: 1px solid #303030;
}

select:invalid {
  color: gray;
}

input[type="submit"] {
  background: rgb(255, 255, 255);
  color: #000;
  font-weight: bold;
  border-radius: 10px;
}

/* desktop tweaks */

@media screen and (orientation: landscape) {
  .main {
    flex-direction: row-reverse;
  }

  .showArea {
    flex: 7;
  }

  .showWrapper {
    max-width: 1000px;
    margin: 10px auto;
  }

  .inputArea {
    flex: 3;
  }
}
